a,
address,
b,
big,
blockquote,
body,
center,
cite,
code,
dd,
del,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
ins,
label,
legend,
li,
ol,
p,
pre,
small,
span,
strong,
u,
ul,
var {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100%;
	color: #525c60;
	background-color: #f6f6f6;
	font: 14px "Microsoft Yahei";
}

html {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

li {
	list-style: none;
}

input,
button {
	outline: none;
	border: none;
}

a {
	text-decoration: none;
	color: #525c60;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}

.clearfix {
	*+height: 1%;
}

.clearfix:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
